@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Welcome to our website! This is going to become a C# based Crossword Puzzle game!</h2>
        </hgroup>
        <p>
            To learn more about us and the project at hand, head on over to <a href="~/Contact">Our Contact Page</a> and shoot us an email!
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Ask Carlos</h5>
        <p>I advise asking Carlos about any and all questions related to the UI and Messaging System!</p>
    </li>

    <li class="two">
        <h5>Ask Chris</h5>
        <p>I advise asking Chris about any of the Algorithms and puzzle generation systems!</p>
    </li>

    <li class="three">
        <h5>Ask Justin</h5>
        <p>I advise asking Justin about any and all design aspects, leadership directives, and any questions regarding Billing or Registration!</p>
    </li>
</ol>